@import './variables.scss';

body {
  margin: 20px;
}

div {
  color: $baseColor;
}

input[type="text"] {
  border-color: $baseColor !important;
  outline: none;
  padding: 3px;
  height: 30px;
}

.header {
  font-size: 16px;
}

.flex-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &.space-around {
    justify-content: space-around;
  }
}

.app {
  max-width: 1080px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 80px;
  background: blue;
}

.title {
  font-size: 32px;
}

.header {
  .flex-row > div:first-child > span:first-child {
    width: 100px;
  }
  .flex-row > div:last-child > span:first-child {
    width: 70px;
  }
}

.text-field, .code-field, .checkbox-field {
  flex: 1;
  margin-right: 20px; 
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }
}
.text-field > input, .checkbox-field > div {
  flex: 1;
}

.code-field {
  span {
    &.hypen {
      margin: 0 5px;
    }
  }
  .react-code-input {
    input {
      width: 30px;
      height: 40px;
      background-color: transparent;
      border: 1px solid $baseColor;
      border-right: none;
      text-align: center;
      box-sizing: border-box;
      &:focus {
        box-shadow: 0 0 0 3px rgba(58, 151, 212, 0.28);
      }
      &:last-child {
        border-right: 1px solid $baseColor;
      }
    }
  }
}

.input-text {
  flex: 1 100%;
  border: 1px solid;
}