@import './variables.scss';

body {
  margin: 10px;
}

div {
  color: $baseColor;
}

input[type="text"] {
  outline: none;
  height: 35px;
  padding-left: 5px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border-color: $baseColor;
  resize: none;
  outline: none;
}

table {
  width: 100%;
  border-spacing: 0px;
  td {
    padding: 5px 0px;
  }
}

hr {
  border-top: 1px solid;
}

.header, .header input {
  font-size: 16px;
}

section, section input {
  font-size: 12px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.space-around {
    justify-content: space-around;
  }
  .header & {
    margin: 5px 0px;
  }
  section & {
    margin: 3px 0px;
  }
}

.app {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 200px;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    left: 100px;
  }
}

.title {
  font-size: 32px;
  margin-top: 20px;
}

.subtitle-1 {
  font-size: 16px;
  background-color: $yellowBackground;
}

.subtitle-2 {
  margin: 3px 0px;
  font-size: 14px;
  font-weight: bold;
  background-color: $blueBackground;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.bold {
  font-weight: bold;
}

.btn-print {
  position: absolute;
  right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $baseColor;
  color: white;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.header {
  .flex-row > div:first-child > div > span:first-child {
    width: 100px;
  }
  .flex-row > div:last-child > div > span:first-child {
    width: 70px;
  }
  .text-field {
    margin-right: 20px;
  }
}

.text-field, .code-field, .checkbox-field {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    font-size: 16px;
  }
}
.text-field > input, .checkbox-field > div {
  flex: 1;
}

.input-text {
  border: 1px solid $baseColor;
}

#printme {
  display: none;
}
@media print {
  #printme {
    display: block;
  }
}