@import './variables.scss';

body {
  margin: 10px;
  -webkit-print-color-adjust: exact;
}

div, p, label, span, td, th {
  color: $baseColor;
  font-size: 12px;
}

div {
  font-size: 12px;
}

input[type="text"] {
  outline: none;
  padding: 3px;
  padding-left: 5px;
  box-sizing: border-box;
  width: 100%;
  .header & {
    height: 35px;
  }
}

input {
  border: 1px solid $baseColor;
  outline: none;
}

textarea {
  width: 100%;
  border-color: $baseColor;
  resize: none;
  outline: none;
}

table {
  border-spacing: 0px;
}

hr {
  border-top: 1px solid;
}

.header, .header input {
  font-size: 16px;
}

section, section input {
  font-size: 12px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.space-around {
    justify-content: space-around;
  }
  .header & {
    margin: 5px 0px;
  }
  section & {
    margin: 3px 0px;
  }
}

.app {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 175px;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    left: 100px;
  }
}

.title {
  font-size: 32px;
}
.subtitle-1 {
  font-size: 16px;
  background-color: $yellowBackground;
  font-weight: bold;
}
.subtitle-2 {
  margin: 3px 0px;
  font-size: 14px;
  font-weight: bold;
  background-color: $blueBackground;
}
.subtitle-3 {
  margin: 3px 0px;
  font-size: 14px;
  font-weight: bold;
}
.subtitle-4 {
  font-size: 14px;
}

.info {
  font-size: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.bold {
  font-weight: bold;
}

#btn-print {
  position: absolute;
  right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $baseColor;
  color: white;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.header {
  .flex-row > div:first-child > div > span:first-child {
    width: 100px;
  }
  .flex-row > div:last-child > div > span:first-child {
    width: 70px;
  }
  .text-field {
    margin-right: 20px;
  }
}

.text-field, .code-field, .checkbox-field {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    font-size: 16px;
  }
}
.text-field > input, .checkbox-field > div {
  flex: 1;
}
.class-field {
  margin-bottom: 10px;
}

.table-full-width {
  width: 100%;
}

.table-format-2 {
  td, th {
    text-align: center;
    &.thead {
      text-align: left;
    }
  }
}

.section {
  margin-bottom: 10px;
}

.follow-up-field {
  padding: 5px;
  border: 1px solid $baseColor;
  background-image:
    radial-gradient(
      #ffffff,
      $baseColor 250%
    );
  & > div {
    height: 25px;
  }
}

#additional-details {
  display: flex;
  flex-direction: column;
  textarea {
    flex-grow: 1;
  }
}

#codes {
  border: 1px solid $baseColor;
  margin: 2px 0;
  padding: 0 5px;
  height: 100%;
}

#signature {
  height: 50px;
}

footer {
  margin: 20px 0;
}

@media print {
  #btn-print {
    display: none;
  }
}